img{
border-radius: 50%;
}
td{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
th{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
ul{
    border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#A{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#B{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#C{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#d{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#e{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#f{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#g{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#h{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#i{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#j{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#k{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#l{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#m{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#n{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
#o{
border-width: 2px;
border-style: solid;
color: rgb(0, 0, 0);
}
