@media screen and (max-device-width:768px){
    img{
        width: 200px;
    }
}





header{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    position: fixed;
    top: 0;
}
#div_header{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#img_header{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}